dist
bin
node_modules
vendor

# Logs
logs
kubeasy-cli.log

# Build artifacts
kubeasy
kubeasy-cli
.latest-version

# Task artifacts
*.task/

# Test coverage
coverage.out
coverage-*.out
coverage.html

# IDE
.vscode/
.idea/
*.swp
*.swo
