name: "Releasing process"

on:
  push:
    tags:
      - "*" 

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.24"

      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}

      - name: Configure private token
        env:
          GH_ACCESS_TOKEN: ${{ steps.generate-token.outputs.token }}
        run: | 
          git config --global url."https://x-access-token:${GH_ACCESS_TOKEN}@github.com/".insteadOf "https://github.com/"
      
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: '~> v2'
          args: release --clean --timeout=60m
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
          GOPRIVATE: github.com/kubeasy-dev/challenge-operator

      - name: Upload release artifacts
        uses: actions/upload-artifact@v4
        with:
          name: kubeasy-artifacts
          path: |
            dist/kubeasy_*.tar.gz
            dist/checksums.txt
  release:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: kubeasy-artifacts
          path: ./dist
      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          name: Release ${{ github.ref }}
          tag: ${{ github.ref }}
          artifacts: ./dist/kubeasy_*.tar.gz,./dist/checksums.txt
          generateReleaseNotes: true